<ion-header>
  <ion-toolbar>
    <ion-title>Lista de Mascotas</ion-title>
  </ion-toolbar>
</ion-header>

<div id="content">
  <div *ngIf="loading">
    <app-loading></app-loading>
  </div>

  <div *ngIf="!loading">
    <ion-list>
      <ion-item>
        <ion-label class="title">Nombre</ion-label>
        <ion-label class="title">Edad</ion-label>
        <ion-label class="title">Tipo</ion-label>
        <ion-label class="title">Dueño</ion-label>
      </ion-item>
      <ion-item-sliding *ngFor="let mascota of listaMascotas">
        <ion-item>
          <ion-label>{{ mascota.nombre }}</ion-label>
          <ion-label>{{ mascota.edad }} Años</ion-label>
          <ion-label>{{ mascota.tipo }}</ion-label>
          <ion-label>{{ mascota.persona.nombre }}</ion-label>
        </ion-item>
        <ion-item-options side="end">
          <ion-item-option color="warning">
          <ion-icon slot="icon-only" name="brush" [id]="mascota.id"></ion-icon>
          <app-edit-mascota [mascota]="mascota" (updateMascota)="updateMascota($event)"></app-edit-mascota>
          </ion-item-option>
          <ion-item-option color="danger">
            <ion-icon slot="icon-only" name="trash" (click)="deleteRegister(mascota.id)"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>

    <app-add-mascota (addMascota) = addMascota($event)></app-add-mascota>

  </div>
</div>
