<ion-modal [trigger]="mascota.id" (willDismiss)="onWillDismiss($event)">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button (click)="cancel()">Cancelar</ion-button>
        </ion-buttons>
        <ion-title>Editar una Mascota</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="confirm()" [strong]="true">Confirmar</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <form autocomplete="off" [formGroup]="miFormularioEdit">
        <div class="mb-3 row">
          <label for="nombre" class="col-sm-3 col-form-label">Id</label>
          <div class="col-sm-9">
            <input
              placeholder="Nombre de la mascota"
              class="form-control"
              formControlName="id"
            />
          </div>
        </div>

        <!-- nombre -->
        <div class="mb-3 row">
          <label for="nombre" class="col-sm-3 col-form-label">Nombre</label>
          <div class="col-sm-9">
            <input
              placeholder="Nombre de la mascota"
              class="form-control"
              formControlName="nombre"
            />

            <span class="form-text text-danger" *ngIf="campoEsValido('nombre')">
              Este campo es obligatorio
            </span>
          </div>
        </div>

        <div class="mb-3 row">
          <label for="nombre" class="col-sm-3 col-form-label">Edad</label>
          <div class="col-sm-9">
            <input
              placeholder="Edad de la mascota"
              class="form-control"
              formControlName="edad"
              type="number"
            />

            <span class="form-text text-danger" *ngIf="campoEsValido('edad')">
              Este campo es obligatorio
            </span>
          </div>
        </div>

        <div class="mb-3 row">
          <label for="nombre" class="col-sm-3 col-form-label">Tipo</label>
          <div class="col-sm-9">
            <input
              placeholder="tipo de la mascota"
              class="form-control"
              formControlName="tipo"
            />

            <span class="form-text text-danger" *ngIf="campoEsValido('tipo')">
              Este campo es obligatorio
            </span>
          </div>
        </div>

        <div class="mb-3 row">
          <label class="col-sm-3 col-form-label">Persona</label>
          <div class="col-sm-9">
            <select class="form-control"
                  formControlName="persona">
              <option value=""> -- Seleccione Persona --</option>
              <option *ngFor="let persona of personas"
                      [value]="persona">
                      {{ persona.nombre }} {{ persona.apellidos}}
              </option>
          </select>

            <span
              class="form-text text-danger"
              *ngIf="campoEsValido('persona')"
            >
              Este campo es obligatorio
            </span>
          </div>
        </div>

      </form>
    </ion-content>
  </ng-template>
</ion-modal>
